@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:wght@300;400;600;700&family=Mulish:wght@300;400;700&display=swap');
@import './normalize.scss';

:root {
    --col-hotpink: #d6025a;
    --col-white: #fff;
    --col-black: #242424;
    --col-greylight: #cecece;
    --col-goldtransparent: rgba(236, 181, 0, 0.8);
}

body {
    background-attachment: fixed;
    background-image: url('../../public/images/gtamap.jpg');
    background-position: center;
    background-size: cover;
    font-family: 'Mulish', sans-serif;
    padding: 16px;
}

.VehicleList {
    display: grid;
    gap: 8px;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

.sr-only {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}

.Icon__loading {
    left: 50%;
    margin-left: -16px;
    margin-top: -16px;
    position: absolute;
    top: 50%;
}

.Icon__fav {
    margin-top: 1px;
}

.margin-top {
    margin-top: 20px;
}
